$color-black:#000;
$color-white:#fff;

body{
    background-color: $color-black;
    display: block;
    h1{
        display: flex;
        color: $color-white;
    }
    .test{
        display: flex;
        color: $color-white;
    }
}

